header {
  text-align: center;
}

nav {
  text-align: center;
}

nav a {
  padding: 10px;
  background-color: grey;
  text-decoration: none;
  color: white;
  margin: 0 5px;
}

nav a:hover {
  background-color: darkgrey;
}

#featured-property img {
  display: block;
  margin: 0 auto;
}

figcaption {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

#featured-property p {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
}

#details div {
  float: left;
  width: 23%;
  margin: 1%;
  box-sizing: border-box;
}

#details h3 {
  text-align: center;
}

.bottom-divs div {
  background-color: #ccc;
  text-align: center;
  width: 25%;
  display: inline-block;
  padding: 20px 0;
  box-sizing: border-box;
}
